{% load static  %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> {% endcomment %}
{% comment %} <link href="{% static '/css/dist/output.css' %}" rel="stylesheet"> {% endcomment %}
<script src="https://cdn.tailwindcss.com"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />

<link rel="icon" href="{% static '/images/logo3.ico' %}" type="image/x-icon" / >
<title> FoodieEcho </title>