{% load static %}

<header class="bg-white text-black w-full">
    <div class="container mx-auto flex items-center justify-between p-4 overflow-hidden shadow-xl h-20">

      <!-- logo -->
      <a href="../map" class="flex flex-row items-center text-lg text-black duration-300 hover:bg-blue-100 hover:text-blue-700 px-1 m-8 rounded-xl">
        <img src="{% static '/images/logo1.png' %}" class="w-auto h-[52px] p-2">
        <h1>FoodieEcho</h1>
      </a>
      
      <!-- 搜尋 -->
      <form class="w-[800px] shadow-lg mr-3">   
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-200 rounded-lg bg-gray-50 focus:border-blue-100 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-40 duration-300" placeholder="搜尋店家" required>
            <button type="submit" class="text-black font-bold shadow-lg absolute right-2.5 bottom-2.5 bg-blue-200 hover:bg-blue-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg duration-300 text-sm px-4 py-2">
              搜尋
            </button>
        </div>
      </form>
      
      <!-- 登入/登出 -->
      <nav class="flex space-x-4 font-semibold">
        <a href="../login" class="duration-300 hover:bg-blue-100 hover:text-blue-700 px-2 py-1 rounded">Log In</a>
        <a href="../signup" class="duration-300 hover:bg-blue-100 hover:text-blue-700 px-2 py-1 rounded">Sign Up</a>
      </nav>
    </div>
  </header>