<!DOCTYPE html>

{% load static %}

<html>
<head>

  {% include "components/head-info.html" %}

  <title>Restaurant</title>

</head>
<body class="flex flex-col items-center">

  {% include "components/header.html" %}

  <div class="w-[1200px]">
    <div class="flex justify-between items-center w-[1185px]">

      <div class="flex flex-row items-center">
        <!-- 餐廳名稱 -->
        <label for="餐廳名稱" class="shadow-lg m-3 w-fit h-fit rounded-lg border border-gray-200 bg-white px-5 py-2.5 flex items-center">
          <div class="text-black font-black">餐廳名稱</div>
          <div class="border-l-2 border-solid border-gray-500 h-4 ml-3 rounded-lg"></div>
          <div class="text-gray-500 font-extrabold text-2xl ml-3">A-bao 阿寶早午餐（民雄中正大學店）</div>
        </label>

        <a href="#" class="inline-flex items-center h-fit px-1 py-1 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg duration-100 hover:bg-gray-100 hover:text-blue-700">
          <svg class="h-9 w-9" viewBox="-3.2 -3.2 38.40 38.40" xmlns="http://www.w3.org/2000/svg" fill="none" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.064"></g>
            <g id="SVGRepo_iconCarrier">
              <path stroke="#000000" stroke-linejoin="round" stroke-width="1.7600000000000002" d="M6 5a2 2 0 012-2h16a2 2 0 012 2v22a2 2 0 01-2 2H8a2 2 0 01-2-2V5z"></path>
              <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7600000000000002" d="M10 9h4M10 16h12M10 20h12M10 24h4"></path>
              <circle cx="22" cy="9" r="1" fill="#000000"></circle>
            </g>
          </svg>
        </a>
      </div>
      
      <div class="flex justify-center w-auto">

        <!-- 前往評論 -->
        <a href="../compile" class="flex items-end m-3 h-fit shadow-xl">
          <button class="w-full px-6 py-2.5 text-sm font-bold tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700">
            前往評論
          </button>
        </a>

        <!-- 查看評論 -->
        <a href="../comments" class="flex items-end m-3 h-fit shadow-xl">
          <button class="w-full px-6 py-2.5 text-sm font-bold tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700">
            查看評論
          </button>
        </a>

      </div>
    </div>


    <!-- 餐廳介紹 -->
    <div>
      <label for="餐廳介紹" class="shadow-lg block relative m-3 w-auto h-fit rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold">
        <div class="text-black font-black mb-1">餐廳介紹</div>
        <hr>
        
        <div class="flex items-center justify-start">
          <div class="text-gray-500 font-black m-2 max-w-xl">
            提供各式美味豐盛的早午餐選擇。這裡的菜色多元，包括傳統台灣早餐、吐司三明治、麵食、飯食等
          </div>

          <div class="absolute bottom-0 right-0 flex items-center">
            <!-- 營業時間 -->
            <label class="flex m-3 shadow-lg w-fit h-fit rounded-lg border border-gray-200 bg-slate-50 px-5 py-2.5 items-center">
              營業時間：星期一 - 星期日 06:30 - 07:30
            </label>

            <!-- 餐廳評價(星星) -->
            <label class="flex m-3 shadow-lg w-fit h-fit rounded-lg border-2 border-gray-200 bg-slate-50 px-5 py-2.5 items-center">
              <svg class="w-4 h-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
            </label>
        </div>
          
        </div>
      </label>
    </div>

    <!-- 菜單輪播 -->
    <div id="default-carousel" class="relative w-full mb-4 shadow-xl" data-carousel="slide">

      <!-- Carousel wrapper -->
      <div class="relative h-56 z-20 overflow-hidden rounded-lg md:h-96">

        <div class="duration-700 ease-in-out" data-carousel-item="active">
          <img src="{% static '/images/abao1.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        {% comment %} {% for i in item_range %}
          <div class="duration-700 ease-in-out" data-carousel-item>
            <img src="{% static '/images/abao{i}.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
        {% endfor %} {% endcomment %}

        <!-- demo -->
        <div class="duration-700 ease-in-out" data-carousel-item>
          <img src="{% static '/images/abao2.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <div class="duration-700 ease-in-out" data-carousel-item>
          <img src="{% static '/images/abao3.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <div class="duration-700 ease-in-out" data-carousel-item>
          <img src="{% static '/images/abao4.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <div class="duration-700 ease-in-out" data-carousel-item>
          <img src="{% static '/images/abao5.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
      </div>

      <!-- Slider indicators -->
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div>

      <!-- Slider controls -->
      <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full duration-300 bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full duration-300 bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>

  <!-- demo -->

  <!-- 餐點類型1 -->
  <div class="w-[1200px] text-gray-500 text-[24px] font-bold ">
    ▼ 蛋餅
  </div>
  <div class="border-t-2 border-solid border-gray-500 mt-1 w-[1200px] rounded-lg"></div>

  <!-- 品項列表1 -->
  <div class="w-[1200px] flex flex-wrap items-center">

    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        薯餅蛋餅
      </div>
      <img src="{% static '/images/food/f3.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $45
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        95% (11)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        玉米蛋餅
      </div>
      
      <div class="flex items-center mt-auto">
        $35
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        95% (11)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        起司蛋餅
      </div>
      <img src="{% static '/images/food/f1.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $35
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        75% (16)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        肉鬆蛋餅
      </div>
      <img src="{% static '/images/food/f2.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $40
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        85% (13)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        原味蛋餅
      </div>

      <div class="flex items-center mt-auto">
        $25
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        86% (14)
      </div>
    </button>
    
    <button class="shadow-md relative flex flex-col justify-center items-center m-3 w-4 h-3 rounded-lg border border-gray-200 bg-white px-7 py-3 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="flex items-center text-[36px]">
        •••
      </div>
    </button>
  </div>

  <!-- 餐點類型2 -->
  <div class="w-[1200px] text-gray-500 text-[24px] font-bold ">
    ▼ 漢堡
  </div>
  <div class="border-t-2 border-solid border-gray-500 mt-1 w-[1200px] rounded-lg"></div>

  <!-- 品項列表2 -->
  <div class="w-[1200px] flex flex-wrap items-center">
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        板燒日式雞排蛋漢堡
      </div>

      <div class="flex items-center mt-auto">
        $55
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        92% (13)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        泰式辣味卡拉蛋漢堡
      </div>
      <img src="{% static '/images/food/f5.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $70
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        95% (11)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        美式雞腿蛋漢堡
      </div>
      <img src="{% static '/images/food/f6.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $65
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        100% (10)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        板燒牛肉蛋漢堡
      </div>
      
      <div class="flex items-center mt-auto">
        $45
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        95% (11)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col items-center m-3 w-48 h-[178px] rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="mt-1 mb-1">
        花醬厚牛培根蛋漢堡
      </div>
      <img src="{% static '/images/food/f4.jpg' %}" class="max-w-48 max-h-[94px] rounded-md shadow-lg">
      <div class="flex items-center mt-auto">
        $99
        <img src="{% static '/images/like.png' %}" class="object-contain max-h-4 ml-2 mr-1">
        87% (15)
      </div>
    </button>
    <button class="shadow-md relative flex flex-col justify-center items-center m-3 w-4 h-3 rounded-lg border border-gray-200 bg-white px-7 py-3 text-gray-500 font-bold capitalize transition-colors duration-500 transform hover:shadow-lg ease-in-out" herf="#">
      <div class="flex items-center text-[36px]">
        •••
      </div>
    </button>

  </div>


  {% include "components/footer.html" %}

  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script> {% endcomment %}
  <script src="{% static "/js/flowbite/dist/flowbite.min.js" %}"></script>
  
</body>
</html>